* { 
	margin: 0 auto;
	padding: 0; 
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}
body{
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 1.75em;
	font-family: 'Libre Franklin', sans-serif;
}

.pointer{
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*header styling*/
h1{
	font-size: 1.75em;
	color: #F7F4ED;
	background: #333;
	height: 2.25em;
	padding: .5em 0;
	margin-bottom: 1em;
	border-bottom: solid .25em #DE667D;
}

/*counter info styling*/
.number-counter-wrapper{
	width: 32em;
}
.number-counter {
    text-align: right;
}

/*question and question image styling*/
.wrapper, .answer-box{
	border: double 1em #AB965D;
	width: 32em;
	height: 39.25em;
	position: relative;
}
.question-box{
	height: 25em;
}
.question{
	position: relative;
}
.question-title{
	background: rgba(247, 244, 237, .9);
	padding: .75em 0;
	font-size: 1.5em;
}
.question-title, .top-answer{
	border-bottom: 4px solid #AB965D;
}
.question-image{
	position: absolute;
	top: -4em;
	left: 0;
	z-index: -1;
}

/*question options styling*/
.question-answers{
	border-top: 4px solid #AB965D;
}
li{
	background: #F7F4ED;
	font-size: 1.25em;
	padding: .5em;
  	list-style-position: inside;
  	text-align: left;
}
li:before{
	content: "";
	padding-left: 1em;
}
li:nth-child(odd) {
	background-color: #fff;
}
li:hover{
	background-color: #DE667D;
}

/*answer image, feedback, and info styling*/
.answer-box{
	height: 39.25em;
}
.top-answer{
	height: 25em;
}
.answer-feedback{
	font-size: 2em;
	padding-top: .5em;
}
.answer-image{
	position: absolute;
	height: 33em;
	top: -2.8em;
	left: 2em;
	z-index: -1;
}
.answer-info{
	margin-top: 1em;
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 0 1em;
}
.continue{
	border: none;
	background-color: #EBE3D7;
	font-size: 1.25em;
	padding: .75em;
	border-radius: 25px;
	position: absolute;
	bottom: .25em;
	left: 9.25em;
}
.continue:hover{
	background-color: #DE667D;
}

/*sets width to question and answer boxes and children*/
.question-box, .question-image, .question-answers, .score{
	width: 30em;
}
.score{
	margin-top: 2em;
}
.congrats-message, .user-score{
	font-size: 2em;
	padding-top: 1.5em;
	margin-bottom: .75em;
}
.congrats-message{
	margin-top: 4em;
}
.user-score{
	font-size: 1.5em;
}
.restart-quiz{
	border: none;
	background-color: #fff;
	color: #DE667D;
	font-size: 1.25em;
	margin-top: 2em;
}
.restart-quiz:hover{
	text-decoration: underline;
}


/*media queries*/
@media only screen and (max-width: 540px){
	.number-counter-wrapper{
		width: 25em;
	}
	.wrapper, .answer-box{
		width: 25em;
	}
	.question-box, .question-image, .question-answers, .score{
		width: 23em;
	}
	.question-image{
		width: 27em;
		left: -2em;
		top: -2em;
	}
	.answer-image{
		top: -2.85em;
		left: -1.5em;
	}
	.continue{
		left: 6.25em;
		padding: .5em;
	}
}
@media only screen and (max-width: 460px){
	body{
		padding: .25em;
	}
	.header{
		display: none;
	}
	.number-counter-wrapper{
		width: 22.5em;
	}
	.wrapper, .answer-box{
		width: 22.5em;
	}
	.question-box, .question-image, .question-answers, .score{
		width: 20.5em;
	}
	.question-image{
		width: 25.5em;
		left: -2.5em;
		top: -1em;
	}
	.answer-image{
		top: -2.75em;
		left: -2.5em;
	}
	.continue{
		left: 5.5em;
	}
	.congrats-message{
		margin-top: 5em;
		font-size: 1.5em;
	}
	.user-score{
		font-size: 1.25em;
	}
	.answer-info{
		font-size: 1.1em;
	}
}