* { 
	margin:0; padding:0; box-sizing:border-box;
}
html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}
body{
	font-size: 16px;
	color: #333;
	text-align: center;
}
.pop-up-open{
	overflow: hidden;
}
.pop-up{
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	background-color: #fff;
}
.answer-feedback{
	font-size: 3em;
	padding-top: 5.5em;
	margin-bottom: 1em;
}
.question-info{
	font-size: 1.25em;
	margin-bottom: 2em;
}
.continue{
	border: none;
	background-color: #EBE3D7;
	font-size: 1.25em;
	padding: .75em;
	border-radius: 25px;
}
.continue:hover{
	background-color: #DE667D;
}
h1{
	font-size: 2.5em;
	color: #F7F4ED;
	background: #333;
	height: 2.5em;
	padding: .6em 0;
	margin-bottom: 1em;
	border-bottom: solid .25em #DE667D;
}
.number-counter {
    text-align: right;
    width: 40%;
    padding: .25em 0;
    margin-left: 26.5em;
}
.all-questions{
	margin: 0 auto;
	width: 40%;
	padding: 10em 0;
	background-image: url("../images/fashion.jpg");
	background-repeat: none;
	background-size: cover;
}
h2{
	background: rgba(247, 244, 237, .9);
	padding: .75em 0;
	font-size: 1.75em;
}
.question-answers{
	width: 40%;
	margin: 0 auto;
	margin-top: 1em;
}
li{
	background: #F7F4ED;
	font-size: 1.5em;
	padding: .5em;
  	list-style-position: inside;
  	text-align: left;
}
li:before{
	content: "";
	padding-left: 1em;
}
li:nth-child(odd) {
	background-color: #EBE3D7;
}
li:hover{
	background-color: #DE667D;
}
footer{
	color: #F7F4ED;
	background: #333;
	height: 2.5em;
	padding: .6em 0;
	margin-top: 3em;
	border-top: solid .25em #DE667D;
}
.score{
	background-color: #F7F4ED;
	width: 40%;
	margin: 0 auto;
	display: none;
}
.congrats-message, .user-score{
	font-size: 2em;
	padding-top: 1.5em;
	margin-bottom: .75em;
}
.restart-quiz{
	border: none;
	background-color: #EBE3D7;
	font-size: 1.25em;
	padding: .75em;
	border-radius: 25px;
	margin-bottom: 4em;
}
.restart-quiz:hover{
	background-color: #DE667D;
}
.pointer
{
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*media queries*/
@media only screen and (max-width: 1010px){
	#all-questions{
		width: 70%;
	}
	.header p{
	width: 85%;
	}
	.question-answers{
		width: 70%;
	}
}
@media only screen and (max-width: 550px){
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.25em;
	}
	li{
		font-size: 1.25em;
	}
	.all-questions{
		width: 90%;
	}
	.header p{
	width: 95%;
	}
	.question-answers{
		width: 90%;
	}
	footer{
		margin-top: 2em;
	}
}